.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0;
    background: linear-gradient( 135deg, #ffeee1 0%,#fff3eb 50%, #ffeee1 100%);
  }
  
  .title {
    text-align: center;
    font-size: var(--fs-lg);
    color: var(--primary);
    font-weight: 800;
    margin-bottom: 2rem;
  }

  .flexContainer {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Card */
  .card {
    background: #ffdcc2;
    border-radius: 30px;
    padding: 2rem;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
    width: 100%;
    margin-bottom: 3rem;
    border: 3px solid transparent;

  background:
    linear-gradient(#ffdcc2, #ffecde) padding-box,
    linear-gradient(
      270deg,
      var(--primary-hover),
      #fff3ea,
      var(--primary),
      #fff3ea,
      var(--primary-hover)
    ) border-box;

  background-size: 100% 100%, 400% 400%;
  animation: gradientBorder 25s linear infinite;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  }

  @keyframes gradientBorder {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .imageWrapper {
    position: relative;
    width: 100%;
    height: 220px;
    margin: 1.5rem 0;
  }
  
  .image {
    object-fit: contain;
  }
  
  .cardTitle {
    font-size: var(--fs-md);
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .description {
    text-align: center;
    font-weight: 500;
    font-size: var(--fs-sm);
    color: var(--text-main);
    margin-bottom: 12px;
  }
  .sizesAndQuantity{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  /* Sizes buttons */
  .sizes {
    display: flex;
    gap: 1.5rem;
  }
  
  .sizeBtn {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--bg-main); 
    color: var(--text-main);
    cursor: pointer;
    font-weight: 600;
    font-weight: 600;
    font-size: var(--fs-xs);
  }
  
  .sizeBtn.active {
    background: var(--primary);
    color: #fff;
    border-color: #222;
  }
  
  /* Quantity selector */
  .quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .quantity button {
    padding: 0.2rem 1.2rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--bg-main); 
    color: var(--text-main);
    font-weight: 600;
    font-size: var(--fs-sm);
    cursor: pointer;
  }
  
  .quantity span {
    font-size: var(--fs-md);
    color: var(--primary);
    text-align: center;
    font-weight: 600;
    margin-right: -1rem;
  }

    
  .price {
    font-weight: 700;
    color: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    direction: ltr; /* مهم */
  }
  
  .amount {
    order: 1; /* الرقم */
    font-size: var(--fs-md);
  }
  
  .currency {
    order: 2; /* العملة */
    font-size: var(--fs-xs);
    color: var(--text-main);
  }  
  
  /* Footer */
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
  }
  
  .addonsBtn,
  .addBtn {
    margin: 1rem 0;
    padding: 0.5rem 1.5rem;
    border-radius: var(--br-f);
    border: none;
    cursor: pointer;
    font-weight: 600;
  }
  
  .addonsBtn {
    background: var(--text-main);
    color: var(--bg-main);
  }

  .addBtn {
    background: var(--primary);
    color: var(--bg-main);
  }

  @media (min-width: 450px) {

  }
  
  @media (min-width: 768px) {
    .container{
      padding-top: 10rem;
    }
    .flexContainer {
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      gap: 3rem;
    }
    .card {
      width: 40%;
    }
  }
  
  @media (min-width: 1000px) {
    .card {
      width: 30%;
    }
  }
  
  @media (min-width: 1200px) {
    .card {
      width: 20%;
    }
  }

  @media (min-width: 1700px) {
    .card {
      width: 15%;
    }
  }